/* Markdown 主要内容 */
.yaa-container .chat-panel .content .object .bubble>*:first-child {
  margin-top: 0;
}

.yaa-container .chat-panel .content .object .bubble>*:last-child {
  margin-bottom: 0;
}

.yaa-container img,
.yaa-container video,
.yaa-container iframe,
.yaa-container object,
.yaa-container embed,
.yaa-container svg,
.yaa-container canvas,
.yaa-container audio {
  max-width: 100%;
}

/* Markdown 样式 */
.yaa-container a {
  transition:
    color .2s,
    background-color .2s;
}

.yaa-container a:hover {
  background-color: rgba(255, 255, 255, .1);
}

.yaa-container ul,
.yaa-container ol {
  padding-left: 2rem;
}

.yaa-container pre {
  background-color: rgba(72, 95, 108, .1);
  padding: .4rem;
  border-radius: .5rem;
  overflow-y: scroll;
}

.yaa-container code {
  font-family: "cousine nerd font mono", monospace;
  background-color: rgba(72, 95, 108, .1);
  font-size: small;
  padding: .2rem;
  border-radius: .2rem;
}

.yaa-container pre code {
  background-color: unset;
  font-size: unset;
  padding: unset;
  border-radius: unset;
}

.yaa-container blockquote {
  border-radius: .5rem;
  background-color: rgba(72, 95, 108, .1);
  font-size: small;
  padding: .4rem;
  margin: .5rem 2rem;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
}

.yaa-container blockquote>*:first-child {
  margin-top: 0;
}

.yaa-container blockquote>*:last-child {
  margin-bottom: 0;
}

.yaa-container details {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .1rem;
}

.yaa-container summary {
  font-size: small;
  cursor: pointer;
  background-color: rgba(72, 95, 108, .1);
  padding: .4rem;
  font-weight: bold;
}

.yaa-container details a {
  margin-left: -2rem;
}

.yaa-container table {
  border-spacing: 0;
  border-radius: .1rem;
  width: 100%;
  border-collapse: separate;
  border: .1rem solid rgba(72, 95, 108, .1);
}

.yaa-container table td,
.yaa-container table th {
  border-right: .1rem solid rgba(72, 95, 108, .1);
}

.yaa-container table td,
.yaa-container table th {
  border-top: .1rem solid rgba(72, 95, 108, .1);
}

.yaa-container table td:last-child,
.yaa-container th:last-child {
  border-right-color: transparent;
}

.yaa-container table thead tr:first-child>* {
  border-top: .1rem solid transparent;
}

.yaa-container svg[id^="mermaid-"][width][height][viewBox] {
  width: 100%;
  height: auto;
}